
body {
    font-family: Helvetica, sans-serif;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

code {
    padding: 5px;
    background: rgb(32, 32, 32);
    color: white;
}

h4{
  color: darkgrey;
}

h5{
  color: darkgrey;
}

h6{
  color: darkgrey;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
 
}

.right {
  right: 0;
  
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

